

body{background: linear-gradient(to right, #272422,#817355,#272422);}
h1{
  font-family: sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}
p,h3{
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}


.badge{
  background: rgb(0, 0, 0);
}

audio{
  width: 46px;
  float: left;
}

.thumbnail{
  background:#816d55;
  border-color: rgb(0, 0, 0); }

a:hover{
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
   transform: rotate(10deg);
}

#peronista2 img{width: 100%;}
#peronista1 a:hover{
-moz-transform: translateY(-10px);
-ms-transform:translateY(-10px);
-o-transform: translateY(-10px);
 transform:translateY(-10px);
}
.dropdown-menu a:hover{
-moz-transform: translateY(-10px);
-ms-transform:translateY(-10px);
-o-transform: translateY(-10px);
 transform:translateY(-10px);
}
