p {
  color:red;
  background-color: yellow;
}
.clase {color:green;
}
body{
  background-image:url('http://www.hdpaperz.com/wallpaper/original/3D-Beach-Wallpaper-HD-Download.jpg');
  background-repeat: no-repeat;
}
a {
  color:green;
  background-color: yellow;
}
div {
  background: white;
  border: 6px solid #ccc;
  height: 314px;
  margin: 20px;
  padding: 20px;
  width: 560px;
}
section{
  float: left;
  margin: 10px;
  width: 600px;
}
aside{
  float: right;
  margin: 10px;
  width: 320px;
}

footer{
  clear: both;
}

ul{
  /*relativo y absoluto ver en las filminas*/
}


/*hacer dos divs uno dentro del otro en html,y otro div separado */
/*ponerle background asi veo bien donde colocarlos el div...section...aside... footer */
/*para un id solo uno <p id="identif">  */
/* lo mismo para ponerle fondo en el body*/
/*puedo agregar otros atributos a las clases*/
/*puedo usar un id para hacer que solo el elemento este a la derecha y otro id a la iz
#boton1{
float: right;
}
los navs son listas pero con css queda uno al lado del otro
*/
